---
# This file contains the configuration for a certificate client

api:
    url: http://${server_host}:${server_port}
    token: ${client_token}

certs:
    bits: 4096
    hash: sha512
    country: NL
    province: Utrecht
    city: Amersfoort
    organization: AS65342
    unit: Autosign
